html {
    min-width: 300px;
}

#pascalTriangle {
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

body {
    background-color: #008080;
    margin: 0;
    padding: 0;
}

p {
    width: 100%;
    text-align: center;
    color: black;
}
#intro-container {
    width: 100%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#user-input-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: justify;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #808080; 
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 1px;
}


input {
    width: 30%;
    outline: 2px solid #808080;
    border-color: #808080;
    margin-left: 25%;
    height: 3em;
}

.main-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Tahoma', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-bottom: 0px;
    
}
.main-button {
  margin-top: 5px;
  margin-left: 20px;
  border: none;
  background-color: teal;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
}
#user-input-container p {
    font-family: 'Tahoma', sans-serif;
    font-weight: 500;
    color: white
    
}
#nonNumber, #intro-container p {
    margin-top: 5px;
    font-family: 'Tahoma', sans-serif;
    font-weight: 500;
    margin: 10 auto;
}